<#macro service_content>
<table width="90%" height="25"  border="0" align="center" cellpadding="2" cellspacing="0" class="botom_line">
  <tr>
    <td align="center" class="right_line"><table width="825" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="181" rowspan="2" bgcolor="#E2F6FA"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><a href="MyFavorite.jsp" target="content">我的收藏夹</a></td>
            <td align="center"><a href="shop.html" target="content">社区商店</a></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td colspan="3"><img src="/images/controlpanel_2.gif" width="644" height="16" alt="" /></td>
        <td width="1"><img src="/images/spacer.gif" width="1" height="16" alt="" /></td>
      </tr>
      <tr>
        <td width="11" rowspan="7" valign="top"><img src="/images/controlpanel_3.gif" width="11" height="497" alt="" /></td>
        <td width="628" rowspan="4" align="left" valign="top" bgcolor="#FFFFFF"><#nested/></td>
        <td width="5" rowspan="7"><img src="/images/controlpanel_5.gif" width="5" height="497" alt="" /></td>
        <td><img src="/images/spacer.gif" width="1" height="26" alt="" /></td>
      </tr>
      <tr>
        <td><img src="/images/controlpanel_6.gif" width="181" height="9" alt="" /></td>
        <td><img src="/images/spacer.gif" width="1" height="9" alt="" /></td>
      </tr>
      <tr>
        <td><img src="/images/controlpanel_7.gif" width="181" height="64" alt="" /></td>
        <td><img src="/images/spacer.gif" width="1" height="64" alt="" /></td>
      </tr>
      <tr>
        <td rowspan="2" align="center" valign="top" bgcolor="#F4FCFD"><table width="87%" height="217" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="21%" height="30" align="center"><img src="/images/myprofile.gif" width="20" height="20" /></td>
            <td width="79%" align="left"><a href="/message/send.yws">发送短消息</a></td>
          </tr>
          <tr>
            <td width="21%" height="30" align="center"><img src="/images/myprofile.gif" width="20" height="20" /></td>
            <td width="79%" align="left"><a href="/message/message.yws?type=0">收件箱</a></td>
          </tr>
          <tr>
            <td colspan="2" align="center" class="under_line"></td>
          </tr>
          <tr>
            <td height="30" align="center"><img src="/images/computer1.gif" width="20" height="20" /></td>
            <td align="left"><a href="/message/message.yws?type=1">草稿箱</a></td>
          </tr>
          <tr>
            <td colspan="2" align="center" class="under_line"></td>
          </tr>
          <tr>
            <td height="30" align="center"><img src="/images/computer2.gif" width="20" height="20" /></td>
            <td align="left"><a href="/message/message.yws?type=2">已发送</a></td>
          </tr>
          <tr>
            <td colspan="2" align="center" class="under_line"></td>
          </tr>
    </table></td>
  </tr>
</table>
</#macro>