﻿<#macro forum_info>
<script type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
	window.open(theURL,winName,features);
}
function wiewSmallNews(id) {
	var width = 600 ;
	var height = 450;
	var left = eval(screen.Width - width) / 2;
	var top = eval(screen.Height  -height) / 2;
	MM_openBrWindow('small_news.yws?id=' + id,'浏览小字报','menubar=yes,scrollbars=yes,width='+width+',height='+height+',left='+left+',top='+top+'');
}
function wiewSmallNewsList(forumId) {
	var width = 600 ;
	var height = 450;
	var left = eval(screen.Width - width) / 2;
	var top = eval(screen.Height  -height) / 2;
	MM_openBrWindow('small_news_list.yws?forumId=' + forumId,'小字报列表','menubar=yes,scrollbars=yes,width='+width+',height='+height+',left='+left+',top='+top+'');
}
//-->
</script>
<table width="830" border="0" align="center" cellpadding="0"
	cellspacing="0">
	<tr>
		<td width="55">
			<img src="images/tree22.gif" width="40" height="48" />
		</td>
		<td>
			<table border="0" width="425" cellpadding="0" cellspacing="0">
				<tr>
					<td width="75" align="right">
						<b><font color="#B8A974">版主：</font>
						</b>
					</td>
					<td align="left">
						<#list model.forum.webmasters as m>
						<a href="/user/user_info.yws?id=${m.id}">${m.nick}</a> </#list>
					</td>
				</tr>
				<tr>
					<td align="right">
						<b><font color="#B8A974">本版宣言：</font>
						</b>
					</td>
					<td align="left">
						${model.forum.description?default("")}
					</td>
				</tr>
				<tr>
					<td align="right" valign="top">
						<a href="#" title="查看所有小字报"
							onclick="wiewSmallNewsList(${forum.id});"><b><font
								color="#B8A974">小字报：</font>
						</b>
						</a>
					</td>
					<td align="left">
						<marquee scrollamount="1" scrolldelay="0" direction="up"
							width="100%" height="32" onmouseover="this.stop()"
							onmouseout="this.start()">
							<#list forum.smallNewsList as sn> ${sn.user.nick}：
							<a href="#" onclick="wiewSmallNews(${sn.id});">${sn.title}[${sn.createTime}]</a>
							<br />
							</#list>
						</marquee>
					</td>
				</tr>
			</table>
		</td>
		<td width="55">
			<img src="images/tree22.gif" width="40" height="48" />
		</td>
		<td width="120">
			<a href="/search.yws">检索中心</a>
			<br />
			<a href="/user/online_users.yws">查看在线用户</a>
			<br/>
			<a href="/user/online_forum_users.yws?forumId=${forumId}">查看当前板块在线用户</a>
			<br />
			<a href="/user/users.yws">查看所有用户</a>
		</td>
		<td width="55">
			<img src="images/tree22.gif" width="40" height="48" />
		</td>
		<td width="120">
			<a href="boardState.yws?action=nowOnline&areaID=${forum.area.id}">版块在线状态</a>
			<br />
			论坛在线：${onlineStatus.total}人
			<br />
			此版在线：${onlineStatus.numberOfForum}人
			<br />
			<a
				href="http://sighttp.qq.com/cgi-bin/check?sigkey=5d2e139cf74d07c3acfe48d26f73d303d4267d9d41014630e6da018e64687876"
				; target=_blank;
				onclick="var tempSrc='http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&sigkey=5d2e139cf74d07c3acfe48d26f73d303d4267d9d41014630e6da018e64687876';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;">
				<img
					border="0" SRC='http://wpa.qq.com/pa?p=1:774808046:41'
					alt="值班管理员QQ">
			</a>
		</td>
	</tr>
</table>
</#macro> <#macro editor>
<script type="text/javascript" src="/js/selection.js"></script>
<script language="javascript">
	var selectStart;
	var selectEnd;
	function showUploadAreaDialog() {
		/*
		 * 之前没能正常地在光标位置插入内容是因为
		 * 当 textarea 重新 获得焦点，光标已经在头部，
		 * 无论怎么设置，也是只能在前面加内容，
		 * 现在，我们保存光标位置
		 * OK
		 * 集成显卡 2011.5.18
		 */
		getUploadAreaDialog("uploadAreaDialog", 360, 240);
	}
	function myUploadDialog(){
	     var myuploapitems=window.showModalDialog("/user/myupload.yws?id=${status.userId}", "", "dialogWidth=700px;dialogHeight=450px;status=no;help=no;scrollars=no;resizable=yes;");
	     if(!myuploapitems==''){
	        document.getElementById("content").value+=myuploapitems;
	     }
	}
</script>

<div style="display: none;">
	<div id="uploadAreaDialog" class="dialog_div"></div>
</div>

<table width="830" border="0" align="center" cellpadding="0"
	cellspacing="0" class="botom_line">
	<tr align="center">
		<td width="125" height="30" class="right_line">
			插入UBB标签
		</td>
		<td align="left">
			<table border="0" cellpadding="0" cellspacing="0" class="botom_line">
				<tr align="center">
					<td height="36" class="right_line">
						&nbsp;
						<select name="selected"
							onchange="if(this.options[this.selectedIndex].value!=''){selectFont(this.options[this.selectedIndex].value);this.options[0].selected=true;}else {this.selectedIndex=0;}">
							<option selected="selected" value="宋体">
								字体
							</option>
							<option value="宋体">
								宋体
							</option>
							<option value="楷体_GB2312">
								楷体
							</option>
							<option value="新宋体">
								新宋体
							</option>
							<option value="黑体">
								黑体
							</option>
							<option value="隶书">
								隶书
							</option>
							<option value="Andale Mono">
								Andale Mono
							</option>
							<option value="Arial">
								Arial
							</option>
							<option value="Arial Black">
								Arial Black
							</option>
							<option value="Book Antiqua">
								Book Antiqua
							</option>
							<option value="Century Gothic">
								Century Gothic
							</option>
							<option value="Comic Sans MS">
								Comic Sans MS
							</option>
							<option value="Courier New">
								Courier New
							</option>
							<option value="Georgia">
								Georgia
							</option>
							<option value="Impact">
								Impact
							</option>
							<option value="Tahoma">
								Tahoma
							</option>
							<option value="Times New Roman">
								Times New Roman
							</option>
							<option value="Trebuchet MS">
								Trebuchet MS
							</option>
							<option value="Script MT Bold">
								Script MT Bold
							</option>
							<option value="Stencil">
								Stencil
							</option>
							<option value="Verdana">
								Verdana
							</option>
							<option value="Lucida Console">
								Lucida Console
							</option>
						</select>
					</td>
					<td width="60">
						<select name="selected"
							onchange="if(this.options[this.selectedIndex].value!=''){selectSize(this.options[this.selectedIndex].value);this.options[0].selected=true;}else {this.selectedIndex=0;}">
							<option value="3" selected="selected">
								字号
							</option>
							<option value="1">
								1
							</option>
							<option value="2">
								2
							</option>
							<option value="3">
								3
							</option>
							<option value="4">
								4
							</option>
							<option value="5">
								5
							</option>
						</select>
					</td>
					<td width="28">
						<img alt="粗体" border="0" height="20" onclick="selectBold()"
							src="/images/newTopic/bold.gif" width="20" title="粗体"/>
					</td>
					<td width="28">
						<img alt="斜体" border="0" height="20" onclick="selectItalic()"
							src="/images/newTopic/italicize.gif" width="20" title="斜体"/>
					</td>
					<td width="28">
						<img alt="下划线" border="0" height="20" onclick="selectUnder()"
							src="/images/newTopic/underline.gif" width="20" title="下划线"/>
					</td>
					<td width="28">
						<img alt="居中" border="0" height="20" onclick="selectCenter()"
							src="/images/newTopic/center.gif" width="20" title="居中"/>
					</td>
					<td width="28">
						<img alt="字体颜色" border="0" height="20" onclick='selectColor()'
							src="/images/newTopic/fgcolor.gif" width="20" title="字体颜色"/>
					</td>
					<td width="28">
						<img alt="发光字体" border="0" height="20" onclick="selectGlow()"
							src="/images/newTopic/glow.gif" width="20" title="发光字体"/>
					</td>
					<td width="28">
						<img alt="阴影字体" border="0" height="20" onclick="selectShadow()"
							src="/images/newTopic/shadow.gif" width="20" title="阴影字体"/>
					</td>
					<td width="28">
						<img alt="超级连接" border="0" height="20" onclick='selectUrl()'
							src="/images/newTopic/url.gif" width="20" title="超级连接"/>
					</td>
					<td width="28">
						<img alt="Email连接" border="0" height="20" onclick='selectEmail()'
							src="/images/newTopic/email1.gif" width="20" title="Email连接"/>
					</td>
					<td width="28">
						<img alt="图片" border="0" height="20" onclick='selectPic()'
							src="/images/newTopic/image.gif" width="20" title="图片"/>
					</td>
					<td width="28">
						<img alt="Flash文件" border="0" height="20" onclick='selectFlash()'
							src="/images/newTopic/swf.gif" width="20" title="Flash文件"/>
					</td>
					<td width="28">
						<img alt="realplay视频文件" border="0" height="20"
							onclick='selectReal()' src="/images/newTopic/real.gif" width="20" title="realplay视频文件"/>
					</td>
					<td width="28">
						<img alt="上传视频或者音乐" border="0" height="20"
							onclick='selectMedia()' src="/images/newTopic/csound.gif"
							width="20" title="上传视频或者音乐"/>
					</td>
					<td width="28">
						<img alt="Shockwave文件" border="0" height="20"
							onclick='selectShockwave()' src="/images/newTopic/Shockwave.gif"
							width="20" title="Shockwave文件"/>
					</td>
					<td width="28">
						<img alt="背景音乐" border="0" height="20" onclick='selectBGMusic()'
							src="/images/newTopic/mp.gif" width="20" title="背景音乐"/>
					</td>
					<td width="28">
						<img alt="上传文件" border="0" height="20"
							onclick='showUploadAreaDialog()'
							src="/images/newTopic/uploadfile.gif" width="20" title="上传文件"/>
					</td>
					<td width="28">
					<img alt="我的资源包" border="0" height="20"
							onclick='myUploadDialog();'
							src="/images/newTopic/myupload.gif" width="20" title="我的资源包" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table width="830" border="0" align="center" cellpadding="0"
	cellspacing="0" class="botom_line">
	<tr align="center">
		<td width="125" height="270" valign="middle" class="right_line">
			内容：
			<br />
			<br />
			5-20000字符
			<br />
			内容支持ＵＢＢ标签
			<br />
			使用方法请参考帮助
			<br />
			<br />
			按Ctrl+Enter快速提交
		</td>
		<td align="left">
			&nbsp;&nbsp;
			<textarea name="content" cols="85" rows="16" wrap="virtual"
				class="input_new2" id="content" style="font-size:14px"><#nested/></textarea>
		</td>
	</tr>
</table>
<table width="830" border="0" cellpadding="0" cellspacing="0"
	align="center">
	<tr align="center">
		<td valign="middle" width="125" height="50" class="right_line">
			插入UBB表情
		</td>
		<td align="left">
			<table border="0" cellspacing="3">
				<tr>
					<td width="25">
						<a href="javascript:faceAdd('22')"><img
								src="/images/face/2.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('46')"><img
								src="/images/face/26.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('23')"><img
								src="/images/face/3.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('24')"><img
								src="/images/face/4.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('25')"><img
								src="/images/face/5.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('26')"><img
								src="/images/face/6.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('27')"><img
								src="/images/face/7.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('28')"><img
								src="/images/face/8.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('29')"><img
								src="/images/face/9.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('30')"><img
								src="/images/face/10.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('41')"><img
								src="/images/face/21.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('42')"><img
								src="/images/face/22.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('43')"><img
								src="/images/face/23.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('51')"><img
								src="/images/face/31.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('52')"><img
								src="/images/face/32.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('53')"><img
								src="/images/face/33.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('45')"><img
								src="/images/face/25.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('54')"><img
								src="/images/face/34.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('55')"><img
								src="/images/face/35.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('56')"><img
								src="/images/face/36.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('47')"><img
								src="/images/face/27.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('48')"><img
								src="/images/face/28.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('49')"><img
								src="/images/face/29.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('50')"><img
								src="/images/face/30.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('57')"><img
								src="/images/face/37.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('58')"><img
								src="/images/face/38.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('59')"><img
								src="/images/face/39.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td width="25">
						<a href="javascript:faceAdd('21')"><img
								src="/images/face/1.gif" width="20" height="20" border="0" />
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="javascript:faceAdd('31')"><img
								src="/images/face/11.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('32')"><img
								src="/images/face/12.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('33')"><img
								src="/images/face/13.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('34')"><img
								src="/images/face/14.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('35')"><img
								src="/images/face/15.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('36')"><img
								src="/images/face/16.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('37')"><img
								src="/images/face/17.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('38')"><img
								src="/images/face/18.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('39')"><img
								src="/images/face/19.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('40')"><img
								src="/images/face/20.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd('44')"><img
								src="/images/face/24.gif" width="20" height="20" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('46')"><img
								src="/images/shortMessage/em46.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('25')"><img
								src="/images/shortMessage/em25.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('09')"><img
								src="/images/shortMessage/em09.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('11')"><img
								src="/images/shortMessage/em11.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('14')"><img
								src="/images/newTopic/email1.gif" width="20" height="20"
								border="0">
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('14')"><img
								src="/images/shortMessage/em14.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('15')"><img
								src="/images/shortMessage/em15.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('16')"><img
								src="/images/shortMessage/em16.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('20')"><img
								src="/images/shortMessage/em20.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('34')"><img
								src="/images/shortMessage/em34.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('22')"><img
								src="/images/shortMessage/em22.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('24')"><img
								src="/images/shortMessage/em24.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('36')"><img
								src="/images/shortMessage/em36.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('37')"><img
								src="/images/shortMessage/em37.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('38')"><img
								src="/images/shortMessage/em38.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('43')"><img
								src="/images/shortMessage/em43.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:emAdd('44')"><img
								src="/images/shortMessage/em44.gif" width="20" height="20"
								border="0" />
						</a>
					</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr align="center">
					<td>
						<a href="javascript:faceAdd(1)"><img
								src="/images/face/face1.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(2)"><img
								src="/images/face/face2.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(3)"><img
								src="/images/face/face3.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(4)"><img
								src="/images/face/face4.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(5)"><img
								src="/images/face/face5.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(6)"><img
								src="/images/face/face6.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(7)"><img
								src="/images/face/face7.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(8)"><img
								src="/images/face/face8.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(9)"><img
								src="/images/face/face9.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(10)"><img
								src="/images/face/face10.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(11)"><img
								src="/images/face/face11.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(12)"><img
								src="/images/face/face12.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(13)"><img
								src="/images/face/face13.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(14)"><img
								src="/images/face/face14.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(15)"><img
								src="/images/face/face15.gif" border="0" />
						</a>
					</td>
					<td>
						<a href="javascript:faceAdd(16)"><img
								src="/images/face/face16.gif" border="0" />
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</#macro>
