<@base.header title="修改登陆密码"></@base.header>
<@base.body location="个人服务区&nbsp;－&gt;&nbsp;修改登陆密码">
	<@base.main location="个人服务区&nbsp;－&gt;&nbsp;修改登陆密码">
		<@base.service_content>
<form action="edit_password_do.yws" method="post" name="editForm" id="editForm">
<table width="577" height="313" border="0" align="center">
  <tr>
    <td width="571" valign="top" bgcolor="#FFFFFF"><table width="500" height="1"  border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="1"></td>
        </tr>
      </table>
      <table width="100%" height="25"  border="0" align="center" cellpadding="2" cellspacing="0">
        <tr>
          <td align="center" class="uline"><strong>修改登陆密码</strong></td>
        </tr>
      </table>
      <table width="100%" height="20"  border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td bgcolor="#FFFDF1"><table width="70%" align="center" cellpadding="5" cellspacing="1">
                <tr class="trBorder1">
                  <td width="602" colspan="2"><div align="center">
                      <table width="100%" border="0" align="left" cellpadding="1" cellspacing="0">
				        <#if validMsg != "">
				        <tr>
				          <td height="30" colspan="3" align="center"><font color="#FF0000">${validMsg}</font></td>
				        </tr>
				        </#if>
                        <tr>
                          <td width="105" height="28" align="right" bgcolor="#FFFDF6"><div align="right">原 密 码：<font color="#FF0000">**</font></div></td>
                          <td width="227" align="left" bgcolor="#FFFDF6"><input name="oldPassword" type="password" class="input_style" id="oldPassword" />                          </td>
                        </tr>
                        <tr>
                          <td width="105" height="28" align="right" bgcolor="#FFFDF6"><div align="right">新 密 码：<font color="#FF0000">**</font></div></td>
                          <td width="227" align="left" bgcolor="#FFFDF6"><input name="newPassword" type="password" class="input_style" id="newPassword" />                          </td>
                        </tr>
                        <tr>
                          <td width="105" height="28" align="right" bgcolor="#FFFDF6"><div align="right">确认密码：<font color="#FF0000">**</font></div></td>
                          <td width="227" align="left" bgcolor="#FFFDF6"><input name="confirmPassword" type="password" class="input_style" id="password" />                          </td>
                        </tr>
                      </table>
                  </div></td>
                </tr>
                <tr class="trBorder2">
                  <td colspan="2"><div align="center">
                      <input name="tj2" type="submit" class="submit_style" id="tj2" value=" 确 定 " />
                    &nbsp;&nbsp;
                    <input name="Button2" type="button" class="submit_style" onclick="history.go(-1)" value="返回前页" />
                  </div></td>
                </tr>
          </table></td>
        </tr>
        <tr>
          <td><table cellspacing="0" cellpadding="3" width="100%" align="center" border="0">
            <tbody>
              <tr bgcolor="#fafafa">
                <td width="444" align="left" class="uline"><img height="20" src="/images/bullet4.gif" width="20" 
                  align="absmiddle" /> <b>提示说明</b></td>
              </tr>
              <tr>
                <td height="1" align="left" background="/images/dotline.gif"></td>
              </tr>
              <tr>
                <td align="left">·标记<font color="#FF0000">*</font><font color="#FF0000">*</font>符号的为必填项目。</td>
              </tr>
              <tr>
                <td align="left">·<span class="p">密码区分<font 
                  color="#cc0000">大小写</font>，只能使用字母和数字</span></td>
              </tr>
              <tr>
                <td align="left">·<span class="p">密码长度在4至14位之间。</span></td>
              </tr>
            </tbody>
          </table></td>
        </tr>
      </table>
      <table width="500" height="3"  border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="1"></td>
        </tr>
      </table>
      </td>
  </tr>
</table>
</form>
		</@base.service_content>
	</@base.main>
</@base.body>