P {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 120%; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 120%; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A {
	COLOR: #333333; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 12px; LETTER-SPACING: 1px
}
.p {
	BACKGROUND-IMAGE: url(/images/diary_line4.gif)
}
BODY {
	SCROLLBAR-FACE-COLOR: #eeeeee; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #555555; SCROLLBAR-3DLIGHT-COLOR: #888888; SCROLLBAR-ARROW-COLOR: #006600; SCROLLBAR-TRACK-COLOR: #e8e8e8; SCROLLBAR-DARKSHADOW-COLOR: #e8e8e8
}
TEXTAREA {
	BORDER-RIGHT: #999999 1px; BORDER-TOP: #999999 1px; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/images/diary_line1.gif); BORDER-LEFT: #999999 1px; COLOR: #666666; LINE-HEIGHT: 130%; BORDER-BOTTOM: #999999 1px
}
.button1 {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(http://diary.yinsha.com/images/diary_iconl1.gif); BORDER-LEFT: 1px; WIDTH: 38px; COLOR: #666666; BORDER-BOTTOM: 1px; HEIGHT: 17px
}
.button2 {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(http://diary.yinsha.com/images/diary_iconl2.gif); BORDER-LEFT: 1px; WIDTH: 79px; COLOR: #666666; BORDER-BOTTOM: 1px; HEIGHT: 17px
}
.button3 {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(http://diary.yinsha.com/images/diary_iconl3.gif); BORDER-LEFT: 1px; WIDTH: 20px; COLOR: #666666; BORDER-BOTTOM: 1px; HEIGHT: 17px
}
