<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>resetpass</title>
		<style type="text/css">
		<!--
		.up {
		border: 2px solid #83D75D;color:#83D75D;background-color:white;
		}
		.over {
		border: 2px solid #000;color:#000;background-color:white;
		}
		-->
		</style>
		<script type="text/javascript">
			function doSubmit(){
				var username=document.getElementById("username");
				if(isStrNull(username)==0)
				{
					alert("请输入用户名");
					return false;
				}
				return true;
			}
			function isStrNull(msg) {
				var mystr = msg;
				while ((mystr.indexOf(" ") == 0) && (mystr.length > 1)) {
					mystr = mystr.substring(1, mystr.length);
				}
				if (mystr == " ") {
					mystr = "";
				}
				if (msg == null || mystr == "" || mystr == 0) {
					return 0;
				} else {
					return 1;
				}
			}
		</script>
		<script>
		var LastInput=null
		var OnInput=0
		function chinput(){
			if (LastInput!=null && event.srcElement.tagName!="INPUT") 
			{
				LastInput.className="up";
				LastInput=null;
				OnInput=0;
			}//&& event.srcElement.type=="text"
			if (event.srcElement.tagName=="INPUT"  && OnInput==0)
			{
				event.srcElement.className="over"
				LastInput=event.srcElement
				OnInput=1;
			}
		}
		document.onmousemove=chinput
		</script>
	</head>
	<body style="color:black;">
		<center>
			<div style="border:2px solid white;background-color:white;width:600px;height:328px;">
				<br/>
				<br/>
				<h2>密码重置</h2>
				<div style="color:red;font-size:15px;">
					使用此功能请确保您的账户中所设置的电子邮件地址正确,
					并确保邮箱开启了smtp等服务,<br/>否则将无法完成预期的操作。
				</div>
				<br/>
				<br/>
				<div style="font-size:12px;color:gray;">通过用户名方式</div>
				<form method="post" action="/accounts/resetPassword1.yws">
					用户名：<input class="up" type="text" name="username" id="username">
					<input class="up" type="submit" value="确定">
				</form>
			</div>
		</center>
	</body>
</html>
