@charset "utf-8";
.shadow {filter:shadow(color=#c7b97e;direction=130;)}
.area {
	font-size: 14px;
	font-weight: bold;
}
body{
    margin-top:0px;
	margin-bottom:0px;
	color:#7A511B;
	font-weight:bold;
	font-size:12px;
	line-height: 1.7em;
}
form{
margin-left:120px;
*margin-left:60px;
}
.left{
	float:left;
	}
.whole {
	height: 100%;
	width: 965px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.login {
	float: left;
	height: 260px;
	width: 301px;
}
.logined{
    float: left;
	height: 260px;
	width: 301px;
	background-image: url(../images2/logined.jpg);
	}
.userservice{
	list-style:none;
	}
.userservice li{
     float:left;
     line-height: 1.5em;;
		}
.userservice li a{
     float:left;
     white-space:nowrap;
		}
.login_form {
	height: 169px;
	width: 301px;
	background-image: url(../images2/login.jpg);
	float: left;
	overflow: hidden;
}
.bg_1 {
	background-image: url(../images2/bg_3.jpg);
	float: left;
	height: 260px;
	width: 157px;
}
.notice {
	background-image: url(../images2/notice.jpg);
	height: 84px;
	width: 507px;
}
.logo {
	background-image: url(../images2/logo.jpg);
	height: 176px;
	width: 507px;
}
.band {
	float: left;
	height: 645px;
	width: 623px;
	overflow: hidden;
}
.main_right {
	float: left;
	height: 645px;
	width: 342px;
}
.band a{
white-space:nowrap;
}
.bg_4 {
	background-image: url(../images2/bg_4.jpg);
	height: 52px;
	width: 965px;
	float: left;
}
.user {
	background-image: url(../images2/user.jpg);
	float: left;
	height: 263px;
	width: 166px;
}
.userlist {
	float: left;
	height: 263px;
	width: 799px;
}
.topflash {
	height: 398px;
	width: 960px;
}

.dropdownMenu, .dropdownMenu ul {
	padding: 0px;
	margin:0px;
	list-style: none;
	border: 0px;
	color: #996600;
}

.dropdownMenu a {
	float: left;
	display: block;
	height: 20px;
	line-height: 20px;
	border: 0px;
}

.dropdownMenu a:hover {
	background-color: #C8E18B;
	text-decoration: none;
	border: 0px;
}

.dropdownMenu li {
	float: left;
	border: 0;
}
.dropdownMenu li ul {
	position:absolute;
	width: 100px;
	background: #AED357;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.dropdownMenu li ul li {
	width: 100px;
	border: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.dropdownMenu li ul ul {
	position: absolute;
	margin-top: -30px;
	margin-left: 100px;
	background: #AED357;
	width: 100px;
}
<!--[if IE 7] -->
#dropdownMenu li ul ul {
	margin-left: 100px;
}

.botom_line {
	background-image: url(/images/list_botom_line.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.right_line {
	border-right-style: none;
	background-image: url(/images/list_right_line.gif);
	background-repeat: repeat-y;
	background-position: right;
}

/*--------- Page Numbers ------------*/
.pages {
    float:left;
	width:490px;
	font: 1em Arial, Helvetica, sans-serif;
	padding: 0.2em 1em;
	margin:3px;
}
.pages a,.pages span {
	padding: 0.1em 0.2em;
	margin: 0 0.1em 0.1em 0;
	border: 1px solid #fff;
	background: #fff;
}

.pages span.current {
	border: 1px solid #99CC00;
	font-weight: bold;
	background: #99CC66;
	color: #fff;
}

.pages a:link,.pages a:visited {
	line-height: 15px;
	border: 1px solid #E8FFB0;
	text-decoration: none;
}

.pages a:hover {
	border-color: #2E6AB1;
}

.pages a.nextprev {
	font-weight: bold;
}

.pages span.nextprev,.pages span.stat {
	border: 1px solid #E8FFB0;
	line-height: 15px;
	color: #999;
}
