@charset "utf-8";
body{
    margin-top:0px;
	margin-bottom:0px;
	color:#7A511B;
	font-weight:bold;
	font-size: 12px;
	line-height: 1.5em;
}

a:link {
	color: #7A511B;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #7A511B;
}
a:hover {
	text-decoration: underline;
	color: #7A511B;
}
a:active {
	text-decoration: none;
	color: #7A511B;
}

.whole {
	height: 100%;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.topflash {
	height: 399px;
	width: 960px;
	background-color: #CCCCCC;
}
.place {
	background-image: url(../images_f/place-.jpg);
	float: left;
	height: 95px;
	width: 486px;
}
.logo {
	background-image: url(../images_f/logo-.jpg);
	float: left;
	height: 95px;
	width: 231px;
}
.login_form {
	background-image: url(../images_f/login_form-.jpg);
	float: left;
	height: 95px;
	width: 243px;
	overflow: hidden;
}
.login {
	background-image: url(../images_f/login.jpg);
	height: 20px;
	width: 242px;
	overflow: hidden;
}

.img_1 {
	background-image: url(../images_f/img_1.jpg);
	float: left;
	height: 146px;
	width: 254px;
}
.logan {
	background-image: url(../images_f/logan.jpg);
	float: left;
	height: 146px;
	width: 464px;
}
.stat_login {
	background-image: url(../images_f/stat.jpg);
	float: left;
	height: 146px;
	width: 242px;
}
.stat {
	background-image: url(../images_f/stat2.jpg);
	float: left;
	height: 126px;
	width: 242px;
}
.left {
	float: left;
		height: 810px;
	width: 60px;
}
.left_1 {
	background-image: url(../images_f/left_1.jpg);
		height: 405px;
	width: 60px;
}
.left_2 {
	background-image: url(../images_f/left_2.jpg);
		height: 405px;
	width: 60px;
}
.main {
	border: 1px solid #BBE487;
	width: 85%;
	margin-left:0px; 
	padding-right:13px;
	float: left;
	background-image: url(../images_f/main_bg.jpg);
}
.right {
	float: left;
	height: 810px;
	width: 69px;
}
.right_1 {
	background-image: url(../images_f/right_1.jpg);
	height: 405px;
	width: 69px;
}
.right_2 {
	background-image: url(../images_f/right_2.jpg);
	height: 405px;
	width: 69px;
}
.footer{
    text-align: left;;
	}
.img_2 {
	background-image: url(../images_f/img_2.jpg);
	float: left;
	height: 124px;
	width: 480px;
}
.img_3 {
	background-image: url(../images_f/img_3.jpg);
	float: left;
	height: 124px;
	width: 480px;
}
.img_4 {
	background-image: url(../images_f/img_4.jpg);
	float: left;
	height: 82px;
	width: 425px;
}
.foot {
	background-image: url(../images_f/foot.jpg);
	float: left;
	height: 82px;
	width: 535px;
}
.botom_line {
	background-image: url(/images/list_botom_line.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.right_line {
	border-right-style: none;
	background-image: url(/images/list_right_line.gif);
	background-repeat: repeat-y;
	background-position: right;
}

.dropdownMenu, .dropdownMenu ul {
	padding: 0px;
	margin:0px;
	list-style: none;
	border: 0px;
	color: #996600;
}

.dropdownMenu a {
	display: block;
	height: 20px;
	line-height: 20px;
	border: 0px;
}

.dropdownMenu a:hover {
	background-color: #C8E18B;
	text-decoration: none;
	border: 0px;
}

.dropdownMenu li {
	float: left;
	border: 0;
}

.dropdownMenu li ul {
	position:absolute;
	width: 100px;
	background: #AED357;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.dropdownMenu li ul li {
	width: 100px;
	border: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.dropdownMenu li ul ul {
	position: absolute;
	margin-top: -30px;
	margin-left: 100px;
	background: #AED357;
	width: 100px;
}
<!--[if IE 7] -->
#dropdownMenu li ul ul {
	margin-left: 100px;
}
<!--[endif]-->
.list_title_03 {
	width: 830px;
	height: 20px;
	background-image: url('/image/list_title_03.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 6px 20px;
	margin-top:10px;
}

.list_title_04 {
	width: 770px;
	height: 20px;
	background-image: url('/image/list_title_04.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	padding: 5px 50px;
	margin-top:0px;
}

/*--------- Page Numbers ------------*/
.pages {
    float:left;
	width:490px;
	font: 1em Arial, Helvetica, sans-serif;
	padding: 0.2em 1em;
	margin:3px;
}
.pages a,.pages span {
	padding: 0.1em 0.2em;
	margin: 0 0.1em 0.1em 0;
	border: 1px solid #fff;
	background: #fff;
}

.pages span.current {
	border: 1px solid #99CC00;
	font-weight: bold;
	background: #99CC66;
	color: #fff;
}

.pages a:link,.pages a:visited {
	line-height: 15px;
	border: 1px solid #E8FFB0;
	text-decoration: none;
}

.pages a:hover {
	border-color: #2E6AB1;
}

.pages a.nextprev {
	font-weight: bold;
}

.pages span.nextprev,.pages span.stat {
	border: 1px solid #E8FFB0;
	line-height: 15px;
	color: #999;
}

