<div class="pageHeader">
   <div >
   	 区论坛概况. <br />
	区域论坛是几个论坛的集合，同一性质的若干个论坛集合在一起形成区域论坛。 <br />
	你可以&nbsp;&nbsp;&nbsp;<a href="create_area.yws" target="navTab"  external="true" rel="area0" style="font-size:13px; font-weight:bold;">创建一个新区域论坛</a>。  <br />
 	<br /><span class="ERROR">【暂不能删除论坛，如果有需要请联系技术人员】</span>
   </div>
</div>
<div class="pageContent">
	<table class="table" id="category_list" width="100%" layoutH="90">
		<thead>
			<tr>
				<th width="120">区域论坛标题</th>
				<th width="60">是否热门</th>
				<th width="60">是否隐藏</th>
				<th width="30">排序</th>
				<th>区管理员</th>
				<th width="30">编辑</th>
				<th width="30">删除</th>
			</tr>
		</thead>
	  <tbody>
		<#list model.areas as area>		
	      <tr>
	        <td><a href="forums.yws?areaId=${area.id}"  target="navTab" title="[论坛]${area.name}" rel="area_${area.id}">${area.name}</a><br>          
	        ${area.description?default("")}</td>
	        <td>${area.hotString}</td>
	        <td>${area.hiddenString}</td>
	        <td>${area.taxis}</td>
	        <td><#list area.webmasters as user>${user.nick}&nbsp;&nbsp;|&nbsp;&nbsp;</#list></td>
	        <td><a href="edit_area.yws?areaId=${area.id}" target="navTab"  external="true" title="${area.name}" rel="area${area.id}"><img src="/image/button_edit.gif" width="17" height="17" border="0"></a></td>
	        <td><a rel="del_area.yws?areaId=${area.id}"><img src="/image/button_delete.gif" width="17" height="17" border="0"></a></td>
	      </tr>
		</#list>
	</tbody>
    </table>
</div>