<form name="form1" method="post" action="create_hongbao_do.yws" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <table width="100%">
      <tr>
        <td>类型名：</td>
        <td><input type="text" name="name">（为红包创建提供备选类型）</td>
      </tr>
      <tr>
        <td>经验增加：</td>
        <td><input name="exp" type="text" size="5"></td>
      </tr>
      <tr>
        <td>money增加：</td>
        <td><input name="money" type="text" size="5"></td>
      </tr>
      <tr>
        <td>物品：</td>
        <td><textarea name="items"></textarea>（可输入多项，用行分隔）</td>
      </tr>
      <tr>
        <td style="text-align:center;"><input type="submit" name="Submit" class="BUTTON2" value="创　建"></td>
      </tr>
    </table>
  </form>