<#assign base="/resources/apps">
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>第七届芙蓉学子投票系统|雨无声网站|广西大学论坛BBS|自考|招生|就业|招聘|考研|学院|图书馆</title>
		<meta name="keywords" content="广西 广西大学 雨无声网站 投票系统 祝福墙 集成显卡 雨无声 广西大学论坛BBS 西大论坛BBS 雨无声论坛BBS 校园论坛BBS 广西论坛BBS 广西大学自考|招生|就业|招聘|考研|学院|图书馆|学生|交易|买卖|平台|新生|二手|跳楼|交友|平台" />
	    <meta name="description" content="广西 广西大学 雨无声网站 投票系统 祝福墙 集成显卡 雨无声 广西大学论坛BBS 西大论坛BBS 雨无声论坛BBS 校园论坛BBS 广西论坛BBS 广西大学自考|招生|就业|招聘|考研|学院|图书馆|学生|交易|买卖|平台|新生|二手|跳楼|教务处交友|平台" />
	    <script src="${base}/js/jquery-1.4.4.min.js" type="text/javascript"></script>
		<link type="text/css" href="${base}/css/vote/index.css" rel="stylesheet" />	
		<link type="text/css" href="${base}/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
		<script src="${base}/js/newgxu_vote.js" type="text/javascript"></script>
		<script src="${base}/js/ui/jquery-ui-1.8.16.min.js"></script>
		<style>
			#accordion {text-align:left;font-size:13px; padding-top:10px;font-family: Helvetica,Arial,sans-serif;}
			#accordion a {font-weight:bold;font-size:14px; }
			.ui-widget {font-family: Verdana,Arial,sans-serif;font-size: 0.9em;}
			.ui-button .ui-button-text {line-height: 1em;}
			.ui-button-text-only .ui-button-text {padding: 0.4em 0.6em;}
			.ui-dialog .ui-dialog-buttonpane {margin: 0.6em 0 0;padding: 0 1em 0 0;}
			
			#accordion a._LINK {font-weight:normal;color:#7eae28;font-size:13px; text-decoration:none;}
			#accordion a:hover._LINK {text-decoration:underline;}
		</style>
	</head> 

 <body>
	  <div style="width:1000px;  margin:0 auto;height:30px;line-height:30px; text-align:right; background-color:#fffbe0;">
		<a class="LINK" href="http://www.newgxu.cn/html/" target="_blank" style="color:#7eae28">首 页</a>
		<a class="LINK" href="http://www.newgxu.cn/html/zxkd" target="_blank" style="color:#7eae28">新闻网</a>
		<a class="LINK" href="http://www.newgxu.cn/html/sztd" target="_blank" style="color:#7eae28">思政天地</a>
		<a class="LINK" href="http://www.newgxu.cn/html/fwrx/" target="_blank" style="color:#7eae28">服务热线</a>
		<a class="LINK" href="http://www.newgxu.cn/html/xlsk/" target="_blank" style="color:#7eae28">心理时空</a>
		<a class="LINK" href="http://www.newgxu.cn/html/ylsx/" target="_blank" style="color:#7eae28">玉兰树下</a>
		<a class="LINK" href="http://www.newgxu.cn/html/qczb/" target="_blank" style="color:#7eae28">青春坐标</a>
		<a class="LINK" href="http://bbs.newgxu.cn/" target="_blank" style="color:#7eae28">社区论坛</a>
	</div>
    <div style="width:1000px;  margin:0 auto; background-color:#fffbe0;">
		<div style="width:940px; margin-left:30px;">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr><td valign="top" align="center" style="width:100%; height:96px;">
					<div id="topAnimate_div" style="width:940px; height:96px; overflow:hidden;">
						<img src="${base}/images/vote/lotus_2012.jpg"/>
						<img src="${base}/images/vote/bg_top.jpg" style="display:none;"/>
					</div>
				</td></tr>
			</table>
		</div>
		<div style="padding:15px;">
			<div style="text-align:right;">
				<a href="/apps/welcome.yws" title="转到投票欢迎页面，查看说明信息">转到投票欢迎页面</a>&nbsp;|
				<a href="/apps/result.yws" title="查看目前的投票情况，需要登录并">查看投票结果</a>
			</div>

			<div style="color: red; font-size: 17px;">这是一个投票的测试页面！系统将会在投票正式开启前清空所有的投票数据！</div>
			<#if req.getParameter("p")??>
				<#if req.getParameter("p") == "1">
					<p class="ERROR" style="font-size:16px;font-weight:bold;">验证码输入错误！</p>
				</#if>
				<#if req.getParameter("p") == "2">
					<p class="ERROR" style="font-size:16px;font-weight:bold;">请输入验证码！</p>
				</#if>
				<#if req.getParameter("p") == "3">
					<p class="ERROR" style="font-size:16px;font-weight:bold;">您输入的信息有误，请重新输入！</p>
				</#if>
			</#if>

			<#--<#if message?? && message == "NO">
				<span style="line-height:37px;">您好，现在不是投票时间，投票时间为&nbsp;2012年11月23日早上8点--11月25日晚上12点</span>
			<#else>-->
				<#if Session?? && Session.voter??>
				<p align="center">登录成功,
					姓名：${Session.voter.name}&nbsp;&nbsp;
					学号：${Session.voter.stuentId}，请选择候选者对应的复选框，然后点击下方按钮提交信息。</p>
				<a class="BUTTON" href="#" onclick="return Vote.submitVote();">提交选票</a><a href="/apps/logout.yws">退出系统</a>
				<#else>
				<p align="center">
					<span style="line-height:37px;">您还没有登录，请登录再投票&nbsp;</span>
					<a class="BUTTON" href="javascript:;" onclick="return Vote.login();">现在登录</a>
				</p>
				<!-- <p align="center">
					<span style="line-height:37px;">您好，现在不是投票时间，投票时间为&nbsp;2012年11月23日早上8点--11月25日晚上12点</span> -->
				</#if>

			<#--</#if>-->
		</div>
		<form action="/apps/vote.yws" method="post" id="voteForm">
			<input type="hidden" name="voteResult" id="voteResult" value=""/>
			<#--<input type="hidden" name="startTime" id="startTime" value="${model.startTime}"/>-->
			<div id="accordion">
				<#assign index=1>
				<#list model.categories as c>
				<div>
					<h3><a href="#category${index}">${c.name}</a></h3>
					<div  class="category_" index="${c.id}">
						<#list c.candidates as cc>
						<div class="">
							<div style="font-size:16px; font-weight:bold;">
								<table border="0" width="100%">
									<tr>
										<td width="50%"><label><input type="checkbox" name="category_${c.id}" value="${cc.id}"/>${cc.name}</label></td>
										<!-- <td align="right"><a class="_LINK" href="${cc.url?default('http://newgxu.cn')}" target="_blank" title="点击去查看 '${cc.name}' 的相关信息">查看资料</a><br /></td> -->
									</tr>
								</table>
							</div>
							<div style="padding:5px;padding-left:20px;text-shadow: 0 1px 0 #fefefe;">
								<img style="width: 320px; height: 240px; float: left;" src="${base}/images/candidates/${cc.id}.jpg" alt="该候选人未提供图片！" />
								${cc.description}
							</div>
							<div class="clear"></div>
						</div>					
						</#list>
						<div class="clear"></div>
					</div>
					<#assign index=index+1>
				</div>
				</#list>
			</div>
			<input type="submit" class="special" style="display: none;" value="submit" />
		</form>
	</div>
	<div id="login_div" title="登录投票系统" style="display:none;font-size:14px;">
		<form action="/apps/login.yws" method="post" id="loginForm">
			<p style="text-align:center; padding:5px 0 5px; ">使用学号与身份证登录</p>
			<table border="0"><input type="hidden" value="haha" name="haha">
				<tr><td width="60" align="right">姓名</td><td><input type="text" name="name"/></td></tr>
				<tr><td width="60" align="right">学号</td><td><input type="text" name="studentId"/></td></tr>
				<tr><td align="right">身份证</td><td><input type="text" name="idCard"/></td></tr>
				<tr><td align="right">验证码</td><td align="left"><input type="text" name="validCode" style="width:60px;"/>
					&nbsp;<!-- <img src="/randomcode" onclick="changeCode(this);"/> --><img src="/validImage_servlet" onclick="changeCode(this);"/>
				</td></tr>
			</table>
		</form>
	</div>
	<div class="container">
	  <div class="footer" style="background: url('') no-repeat scroll 175px 20px transparent;padding: 15px;">
		  	<p align="center">
		  		<a href="http://www.newgxu.net/html/about.html" target="_blank"><span>关于我们</span></a> 
				－ <a href="http://www.newgxu.net/program/post.html" target="_blank" class="style4"><span>网上投稿</span></a>
			    － <a href="http://www.newgxu.net/html/contract.html" target="_blank" class="style4"><span>服务条款</span></a> 
				－ <a href="http://www.newgxu.net/program/guestbook.html" target="_blank" class="style4"><span>网友留言</span></a> 
				－ <a href="http://www.newgxu.net/html/map.html" target="_blank" class="style4"><span>网站地图</span></a>
				<br /><span>Copyright © 2004-2012 www.newgxu.cn All rights reserved.<br>地址：广西大学办公楼南楼305室雨无声 电话:0771-3273880</span>
				<br />站长信箱：<a href="mailto:yws_webmaster@163.com">yws_webmaster@163.com</a>
				<br />改版后访问量：54528560 日均：20508<br />桂ICP备05001920号 
				<a href="http://nanning.cyberpolice.cn/beian/4501200373.htm">南宁网警备4501200373号</a>
			</p>
		</div>
	</div>
  </body>
<script>
	$(document).ready(function(){
		Vote.topAnimate({'parent':'#topAnimate_div','parentW':940,'parentH':96,'sonTag':'img'});
		Vote.initLogin();
		$( "#accordion" ).accordion({header: "h3",autoHeight: false,navigation: true});
	});
	function changeCode(obj){
		$(obj).hide().attr("src","/validImage_servlet?rand="+Math.random()).fadeIn(100);
	}
</script>
</html>

	