TD {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 120%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; WIDTH: 0px; SCROLLBAR-SHADOW-COLOR: #555555; COLOR: #666666; SCROLLBAR-3DLIGHT-COLOR: #888888; LINE-HEIGHT: 120%; SCROLLBAR-ARROW-COLOR: #006600; SCROLLBAR-TRACK-COLOR: #e8e8e8; SCROLLBAR-DARKSHADOW-COLOR: #e8e8e8; LETTER-SPACING: 1px; HEIGHT: 0px
}
A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	BORDER-RIGHT: #999999 1px; BORDER-TOP: #999999 1px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px; COLOR: #0099cc; BORDER-BOTTOM: #999999 1px
}
.p0 {
	BACKGROUND-IMAGE: url(../images/diary_line7.gif)
}
.p1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.1 {
	FONT-SIZE: 10px; COLOR: #b7b7b7; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
