<@base.bookheader title="签写日记">
<style type="text/css">
<!--
body,td,th {
	font-family: 宋体;
	font-size: 9pt;
}
-->
</style>
<link href="diary.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
div.wh{
 width: 100px;
 height: 14px;
}
-->
</style>
<script type="text/javascript" src="/js/comment.js">
</script>
</@base.bookheader>
<@base.bookBody>
<table width="469"  border="0" align="center" cellspacing="0" bordercolor="#CCCCCC" style="border-collapse:collapse">
  <tr>
    <td width="467" height="25" align="center" class="uline">签写日记<br/><div id="tishi" style="background-color:red;filter:Alpha(Opacity=0);opacity:0;"></div><font color="red" style="font-size: 10px;">${validMsg}</font></td>
    </tr>
  <tr>
    <td class="uline"><table width="100%" border="0" align="center" cellspacing="0">
      <tr>
        <td width="7%">标题 </td>
        <td width="51%"><input name="title" type="text" class="title_input" id="title" value=""></td>
        <td width="7%">天气</td>
        <td width="14%"><select name="weather" class="weather" id="weather">
          <option value="1" selected="selected">晴朗</option>
          <option value="2">多云</option>
          <option value="3">阴天</option>
          <option value="4">小雨</option>
		  <option value="5">大雨</option>
        </select></td>
        <td width="7%">心情</td>
        <td width="14%"><select name="humor" class="weather" id="humor" onchange="">
          <option value="1" selected="selected">开心</option>
		  <option value="2">甜蜜</option>
          <option value="3">郁闷</option>
          <option value="4">感伤</option>
          <option value="5">苦涩</option>
          <option value="6">沧桑</option>
        </select></td>
      </tr>
    </table></td>
    </tr>
   <tr>
    <td height="2"></td>
    </tr>
  <tr>
    <td class="uline"><TEXTAREA name="content" id="content" cols="60" rows="18" class="write_diary" style="background-position: center center;);background-repeat: no-repeat"></TEXTAREA></td>
    </tr>
  <tr>
    <td class="uline"><table width="100%" border="0" cellspacing="0">
      <tr>
        <td width="16%" align="left">上锁状态：</td>
        <td width="6%" align="left"><input type="radio" name="lockedType" value="1" id="lockedType" checked="checked"></td>
        <td width="8%" align="left">公开</td>
        <td width="5%" align="left"><input type="radio" name="lockedType" value="2" id="lockedType"></td>
        <td width="9%" align="left">上锁 </td>
        <td width="5%" align="left"><input type="radio" name="lockedType" value="3" id="lockedType"></td>
        <td width="32%" align="left">阅读密码可读</td>
        <td width="6%" align="right"><input name="allowcomment" type="checkbox" id="allowcomment" value="1" checked></td>
        <td width="13%" align="right">允许评论</td>
      </tr>
    </table></td>
    </tr>
  <tr align="center">
    <td class="uline"><input name="Submit" type="submit" class="short_submit" value="发表日记" onclick="addDiaryPost()"></td>
  </tr>
</table> 
<div id="statusDiv" style="display:none" align="center"></div>
</@base.bookBody>