<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>雨无声论坛4.0--最新日记</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  
 <body>
<table width='100%' border='0' cellspacing='0' cellpadding='0'><tr><td height='20'> <a href='http://bbs.newgxu.cn/bbs/viewTopic.jsp?forumID=108&topicID=336902' title='主题：【原创】徘徊在历史中的那些诗意、孤独与哲思 (作者：小笼包)' target='_blank'>【原创】徘徊在历史中的那些诗意...</a></td></tr>
<#list diarys as d>
<tr><td height='20'> <a href='view_Diary.yws?id=${d.id}' title='${d.title}(作者：${d.user.nick})' target='_blank'><#if d.title?length lt 15>${d.title}<#else>${d.title[0..14]}...</#if></a></td></tr>
</#list>
</table>
  </body>
</html>
