<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0" />
<meta name="MobileOptimized" content="240" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/resources/css/wap/cmcc.css">
<title>出错啦！</title>
<style type="text/css">
	#wrap {
		width: 240px;
		margin: 20px auto;
	}

	.error {
		color: red;
		font-size: 1.3em;
		text-align: center;
		text-align: center;
		margin: 0 0 10px 0;
	}

	.nav a {
		padding: 20px 0;
		text-align: center;
		font-size: 1.3em;
	}
</style>
</head>
<body>
	<#include "/template/wap/cmcc/header.jsp" />
	
	<div id="wrap">
		<p class="error">出错啦！</p>
		<p class="error">错误信息：${message}</p>
		<span class="nav">
			<a href="/wap/login.yws">回到登录页面</a> 
		</span>
		<span class="nav">
			<a href="/wap/index.yws">回到论坛首页</a>
		</span>	
	</div>

	<#include "/template/wap/cmcc/footer.jsp" />
</body>
</html>