<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0" />
<meta name="MobileOptimized" content="240" />
<meta name="format-detection" content="telephone=no" />
<title>回复 -- ${topic.title}</title>
<style type="text/css">
	* {
		font-size: 1em;
	}

	textarea {
		width: 95%;
	}

	#submit {
		text-align: center;
	}
</style>
</head>
<body>
	<form action="/wap/reply-process.yws?forumId=${forumId}&topicId=${topicId}&replyId=${replyId}&page=${page}" method="post">
		<fieldset>
			<legend>回复 -- ${topic.title}</legend>
			<label for="content">请填写您要回复的内容(引用的内容不必删除！)</label> <br />
			<textarea rows="15" name="content">${content?default("")}</textarea>
			<p id="submit"><input type="submit" value="发表!" /></p>
		</fieldset>
	</form>
</body>
</html>